In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('BF_data.csv', index_col=[0])
df.head()

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG,SAT_1,SAT_2,SAT_3,SAT_4
0,2021-07-01 00:10:00,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,121.0,2.0,22.22,21.00,3.88,69.940478,73.583364,77.713731,82.332439,85.074844
1,2021-07-01 00:20:00,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,125.0,1.0,22.56,21.00,3.94,71.454476,74.666066,77.198904,82.604995,84.877672
2,2021-07-01 00:30:00,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,124.0,1.0,22.49,21.08,3.94,70.579462,74.837214,78.518159,84.475989,83.397999
3,2021-07-01 00:40:00,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,115.0,1.0,22.36,21.13,3.99,70.179791,75.008361,80.865417,84.880888,83.368013
4,2021-07-01 00:50:00,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,125.0,1.0,22.25,21.30,4.10,70.728470,75.799102,82.564532,84.282448,84.592822

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26471 entries, 0 to 26470
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE_TIME      26471 non-null  object
 1   CB_FLOW        26471 non-null  float64
 2   CB_PRESS       26471 non-null  float64
 3   CB_TEMP        26471 non-null  float64
 4   STEAM_FLOW     26471 non-null  float64
 5   STEAM_TEMP     26471 non-null  float64
 6   STEAM_PRESS    26471 non-null  float64
 7   O2_PRESS       26471 non-null  float64
 8   O2_FLOW        26471 non-null  float64
 9   O2_PER         26471 non-null  float64
 10  PCI            26471 non-null  float64
 11  ATM_HUMID      26471 non-null  float64
 12  HB_TEMP        26471 non-null  float64
 13  HB_PRESS       26471 non-null  float64
 14  TOP_PRESS      26471 non-null  float64
 15  TOP_TEMP1      26471 non-null  float64
 16  TOP_TEMP2      26471 non-null  float64
 17  TOP_TEMP3      26471 non-null  float64
 18  TOP_TEMP4      26471 non-null  float64
 19  TOP_SPRAY      26471 non-null  float64
 20  TOP_TEMP       26471 non-null  float64
 21  TOP_PRESS_1    26471 non-null  float64
 22  CO             26471 non-null  float64
 23  CO2            26471 non-null  float64
 24  H2             26471 non-null  float64
 25  SKIN_TEMP_AVG  26471 non-null  float64
 26  SAT_1          26471 non-null  float64
 27  SAT_2          26471 non-null  float64
 28  SAT_3          26471 non-null  float64
 29  SAT_4          26471 non-null  float64
dtypes: float64(29), object(1)
memory usage: 6.3+ MB

In [4]:
x_vars = df.drop(['SAT_1','SAT_2','SAT_3','SAT_4'],axis=1)
x_vars.drop('DATE_TIME',axis=1,inplace=True)
y_vars = df[['SAT_1','SAT_2','SAT_3','SAT_4']]

print(x_vars.shape, y_vars.shape)

(26471, 25) (26471, 4)

In [5]:
x_vars.head()

,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,PCI,...,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG
0,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,32.0,...,135.0,107.0,130.0,0.0,121.0,2.0,22.22,21.00,3.88,69.940478
1,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,30.0,...,143.0,109.0,128.0,0.0,125.0,1.0,22.56,21.00,3.94,71.454476
2,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,31.0,...,138.0,110.0,124.0,0.0,124.0,1.0,22.49,21.08,3.94,70.579462
3,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,36.0,...,128.0,102.0,110.0,0.0,115.0,1.0,22.36,21.13,3.99,70.179791
4,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,36.0,...,139.0,112.0,124.0,0.0,125.0,1.0,22.25,21.30,4.10,70.728470

In [6]:
y_vars.head()

       SAT_1      SAT_2      SAT_3      SAT_4
0  73.583364  77.713731  82.332439  85.074844
1  74.666066  77.198904  82.604995  84.877672
2  74.837214  78.518159  84.475989  83.397999
3  75.008361  80.865417  84.880888  83.368013
4  75.799102  82.564532  84.282448  84.592822

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x_vars, y_vars, test_size=0.3,  random_state=42)
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [8]:
from sklearn.decomposition import PCA
pca = PCA(n_components=12)
pca.fit(x_train)
x_train_pca = pca.transform(x_train)
x_test_pca = pca.transform(x_test)

In [9]:
lr = LinearRegression()
lr.fit(x_train_pca, y_train)

LinearRegression()

In [10]:
c = lr.intercept_
c

array([69.75014708, 69.79666831, 69.8043775 , 69.77220529])

In [11]:
m = lr.coef_
m

array([[ 2.59177741,  7.44395941,  5.26552218, -0.76228068, -6.52787259,
         0.14529997,  4.57370321,  4.98823313,  7.49702334,  4.63341503,
        17.53382324, -6.96122081],
       [ 2.5089609 ,  7.35175467,  4.98557217, -1.37195752, -6.27127852,
        -0.11514118,  4.66014428,  4.97510831,  6.35125204,  4.28438946,
        16.26563233, -6.33268448],
       [ 2.41563996,  7.22405382,  4.65364496, -2.05552254, -6.02226714,
        -0.46317423,  4.80069366,  4.91961549,  5.38670404,  4.02590182,
        15.03333083, -5.79643521],
       [ 2.29882538,  6.97638875,  4.330621  , -2.72707549, -5.81989115,
        -1.07458411,  5.00018825,  4.84230415,  4.61983832,  3.80537786,
        13.94180068, -5.26898659]])

In [12]:
y_pred = lr.predict(x_test_pca)
y_pred

array([[ 55.34824029,  56.72014741,  58.02047946,  59.23966553],
       [ 62.74325805,  63.43806951,  63.99642829,  64.23223774],
       [ 92.29300028,  91.458503  ,  90.56987405,  89.75269518],
       ...,
       [ 93.19624251,  91.00783693,  89.04882364,  87.304169  ],
       [119.48110423, 115.74760197, 112.32523518, 109.39018701],
       [ 90.39136656,  89.74422897,  89.00251021,  88.14278673]])

In [13]:
r2_score(y_test, y_pred)*100

80.96413766990224

In [14]:
import joblib
joblib.dump(lr, 'multiple_linear_regression.pkl')

['multiple_linear_regression.pkl']